*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, .button-container{
    margin-bottom: 20px;
}
.button-container{
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.button-container button{
    width:170px;
}
.grid-container{
    border: 2px solid black;
    height:700px;
    width:700px;
    display:flex;
    flex-direction: column;
}
